<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "TestSuite" thread-count = "3" parallel = "tests">
    <test name = "ChromeTest">
    <parameter name = "browser" value = "Chrome"/>
        <classes>
            <class name = "Homework5.Homework5.MainTest">
            </class>
        </classes>
    </test>
    <test name = "FirefoxTest">
    <parameter name = "browser" value = "Firefox"/>
    	<classes>
    		<class name = "Homework5.Homework5.MainTest">
    		</class>
    	</classes>
    </test>
    <test name = "InternetExplorerTest">
    <parameter name = "browser" value = "InternetExplorer"/>
    	<classes>
    		<class name = "Homework5.Homework5.MainTest">
    		</class>
    	</classes>
    </test>
</suite>